* {
    margin : 0
}

/* 
.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
} */

/* .mapboxgl-ctrl-geocoder, .mapboxgl-ctrl {
    color: red;
    margin: 0px 670px 10px 10px;
    float: right;

}  */


/* .mapboxgl-ctrl {
    margin: 0px 670px 10px 10px;
    float: right;
} */
/* .mapboxgl-ctrl-geocoder--input {
    min-width: 100%;
    color: red;
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
} */
/* .mapboxgl-canvas {
    margin-top: 75px;
}

.overlays {
    margin-top: 75px;
} */