[packages]
django = "*"
django-allauth = "*"
coverage = "*"
model-bakery = "*"
python-dotenv = "*"
python-social-auth = {extras = ["django"], version = "*"}
django-extensions = "*"
djangorestframework-simplejwt = "*"
coreapi = "*"
pyyaml = "*"
pyopenssl = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[scripts]
https = "python manage.py runserver_plus --cert-file cert.pem --key-file key.pem"