[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
https = "python manage.py runserver_plus --cert-file cert.pem --key-file key.pem"

