
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+3:wght@200&display=swap');

.usernameDisplay {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 11.5px;
    background-color: #13aa52;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    text-align: center;
    border-radius: 4px;
    margin: 0px;
   }

.LoginOrSignup {
      background-color: #13aa52;
      border: 1px solid #13aa52;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
      font-size: 10px;
      font-weight: 400;
      outline: none;
      outline: 0;
      padding: 5px 15px;
      text-align: center;
      transform: translateY(0);
      transition: transform 150ms, box-shadow 150ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      display: inline;
    }
    
.LoginOrSignup:hover {
      box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
      transform: translateY(-2px);
    }
    
@media (min-width: 768px) {
.LoginOrSignup{
    padding: 10px 30px;
}
    }
